#!/usr/bin/make -f

PKG = $(shell dh_listpackages)

%:
	dh $@

override_dh_auto_build:
	cd registration && /usr/bin/django-admin.py compilemessages
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	# Drop .po files and keep only .mo files (compiled)
	find debian/$(PKG)/ -name '*.po' -exec rm {} \;

override_dh_installdocs:
	dh_installdocs
